In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [146]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
#создаем в датафрейме столбец profit - прибыль
data['profit'] = data['revenue'] - data['budget']
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

In [15]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [162]:
answers = {'1':'Pirates of the Caribbean: On Stranger Tides (tt1298650)', '2':'Gods and Generals (tt0279111)', '3':'Winnie the Pooh (tt1449283)', '4':'110', '5':'107', '6':'Avatar (tt0499549)', '7':'The Lone Ranger (tt1210819)', '8':'1478', '9':'The Dark Knight (tt0468569)', '10':'The Lone Ranger (tt1210819)', '11':'Drama', '12':'Drama', '13':'Peter Jackson', '14':'Robert Rodriguez', '15':'Chris Hemsworth', '16':'Matt Damon', '17':'Action', '18':'K-19: The Widowmaker (tt0267626)', '19':'2015', '20':'2014', '21':'Сентябрь', '22':'450', '23':'Peter Jackson', '24':'Four By Two Productions', '25':'Midnight Picture Show', '26':'Inside Out, The Dark Knight, 12 Years a Slave', '27':'Daniel Radcliffe & Rupert Grint'}
# создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [163]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [9]:
# тут пишем ваш код для решения данного вопроса:

data[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [20]:
data[data['runtime'] == data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

In [ ]:
data[data['runtime'] == 214]['original_title']

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
data[data['runtime'] == 63]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

In [21]:
data[data['runtime'] == data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [13]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [18]:
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
data[data['profit'] > 0]['original_title']

0                     Jurassic World
1                 Mad Max: Fury Road
2                          Insurgent
3       Star Wars: The Force Awakens
4                          Furious 7
                    ...
1871               Keeping the Faith
1875                         The Kid
1877               Love & Basketball
1883                    Return to Me
1884                           X-Men
Name: original_title, Length: 1478, dtype: object

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [45]:
data_2008=data[data['release_year'] == 2008]
data_2008[data_2008['revenue'] == data_2008['revenue'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [4]:
data_1=data[(data['release_year'] <= 2014) & (data['release_year'] >= 2012)]
data_1[data_1['profit'] == data_1['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [94]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
import collections

table_genres=[]
c=collections.Counter()

#создаем 2 цикла: берем из датафрейма значения по фильтру profit>0 и создаем список с жанрами по каждой отфильтрованной
#строке датафрейма, далее записываем в список table_genres все жанры из genres_list, далее в случае повторяющегося 
#жанра увеличиваем счетчик на 1
for genres in data[data.profit > 0].genres:
    genres_list = genres.split('|')
    for genre in genres_list:
        table_genres.append(genre)
        
for table_genre in table_genres:
    c[table_genre] += 1
    
print(c)

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [68]:
#создаем новый датасет с фильмами, прибыль по которым больше 0
data_3 = data[data['profit'] > 0]

#создаем Серию на основе нового датасета с жанрами и количеством повторений, сортируем по убыванию
sum_genres_3 = pd.Series(data_3['genres'].str.cat(sep = '|').split('|')).value_counts(ascending = False)
sum_genres_3

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [98]:
#создаем серию, в которой записываем режиссеров отдельно друг от друга
directors = pd.Series(0, set(data['director'].str.cat(sep = '|').split('|')))

#запускаем цикл, который присваивает каждому режиссеру из серии суммарное значение кассовых сборов
for director in directors.index:
    directors[director] = data[data.director.str.contains(director)].revenue.sum()
directors.sort_values(ascending = False).head(1)

Peter Jackson    6490593685
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [109]:
#создаем датафрейм, в котором останутся фильмы только с жанрами, в которых есть Action
data_tmp = data[data.genres.str.contains('Action')]

#создаем серию, в которую записываем Режиссеров по отдельности и считаем количество повторений
s_4 = pd.Series(data_tmp['director'].str.cat(sep = '|').split('|')).value_counts(ascending = False)
s_4

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Pierre Coffin         1
Christian Alvart      1
Mike Newell           1
Ericson Core          1
Miguel Sapochnik      1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [117]:
#создаем датафрейм с фильмами, которые вышли в 2012
data_2012 = data[data.release_year == 2012]

#создаем серию с актерами (отдельно друг от друга) и считаем количество повторений по каждому актеру
actors = pd.Series(data_2012['cast'].str.cat(sep = '|').split('|')).value_counts(ascending = False)

#запускаем цикл, и по результату которого присываиваем актеру сумму кассовых сборов по фильмам, в которых он снимался
for actor in actors.index:
    actors[actor] = data_2012[data_2012.cast.str.contains(actor)].revenue.sum()
actors.sort_values(ascending = False)

Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Chris Evans        1519557910
Mark Ruffalo       1519557910
                      ...
Jason Bateman         3428048
Danny Huston          2106557
Nicolas Cage          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [124]:
#создаем датафрейм с фильмами, бюджет по которым выше среднего
data_3 = data[data.budget > data.budget.mean()]

#создаем серию  с актерами (каждый актер отдельно друг от друга) на основе нового датафрейма и счтаем количество повторений
actors_2 = pd.Series(data_3['cast'].str.cat(sep = '|').split('|')).value_counts(ascending = False)
actors_2

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Scott Adkins          1
Carol Burnett         1
Karin Konoval         1
Douglas Booth         1
Jason Sudeikis        1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [83]:
#создаем датафрейм с фильмами, в которых снимался Николас Кейдж
data_nic = data[data.cast.str.contains('Nicolas Cage')]

import collections

table_genres = []
c = collections.Counter()

#проходимся циклом по новому датафрейму и добавляем в список жанры фильмов по каждой из строк
for genres in data_nic.genres:
    genres_list = genres.split('|')
    for genre in genres_list:
        table_genres.append(genre)
        
# считаем количество повторений по каждому из жанров в table_genres, накапливаем количество повторов в значении       
for table_genre in table_genres:
    c[table_genre] += 1
print(c)

Counter({'Action': 17, 'Thriller': 15, 'Drama': 12, 'Crime': 10, 'Fantasy': 8, 'Adventure': 7, 'Comedy': 6, 'Science Fiction': 4, 'Mystery': 3, 'Animation': 3, 'Family': 3, 'History': 2, 'War': 1, 'Horror': 1, 'Romance': 1})

# 18. Самый убыточный фильм от Paramount Pictures

In [89]:
#создаем новый датафрейм с фильмами от paramount pictures
data_pp = data[data['production_companies'].str.contains('Paramount Pictures')]

#ищем в новом датафрейме фильм с минимальным значением прибыли
data_pp[data_pp['profit'] == data_pp['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [157]:
data5 = data.groupby('release_year').revenue.sum().sort_values(ascending = False).head(1)
data5

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [156]:
data_wb = data[data['production_companies'].str.contains('Warner Bros')]
data_wb_temp = data_wb.groupby('release_year').profit.sum().sort_values(ascending = False).head(1)
data_wb_temp

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [160]:
data['month'] = data['release_date'].apply(lambda d: d.split('/')[0])
data_month = data.groupby('month').imdb_id.nunique().sort_values(ascending = False).head(1)
data_month

month
9    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [172]:
data['month'] = data['release_date'].apply(lambda d: d.split('/')[0])
data_month = data.groupby('month').imdb_id.nunique()
data_month.loc['6'] + data_month.loc['7'] + data_month.loc['8']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [159]:
#создаем новый столбец в датафрейме с значением месяца выхода фильма
data['month'] = data['release_date'].apply(lambda d: d.split('/')[0])

#создаем новый датафрейм c фильмами, которые выходили зимой
data_winter = data[(data['month'] == '1') | (data['month'] == '12') | (data['month'] == '2')]

#создаем серию с режиссерами и считаем количество повторений, сортируем по убыванию
actors_23 = pd.Series(data_winter['director'].str.cat(sep = '|').split('|')).value_counts(ascending = False)
actors_23

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Shawn Levy           4
                    ..
Thor Freudenthal     1
Kenneth Branagh      1
Glen Morgan          1
Brad Bird            1
Niki Caro            1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [38]:
data['prod_co'] = data['production_companies'].apply(lambda c: c.split(sep = '|'))
data_to_work = data[['original_title', 'prod_co']]
data_new = data_to_work.explode('prod_co')
data_new['len_1'] = data_new['original_title'].str.len()
data_new.groupby(['prod_co']).len_1.mean().sort_values(ascending = False).head(1)

prod_co
Four By Two Productions    83.0
Name: len_1, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [153]:
data['prod_co'] = data['production_companies'].apply(lambda c: c.split(sep = '|'))
data_to_work = data[['overview', 'prod_co']]
data_new = data_to_work.explode('prod_co')
data_new['len_1'] = data_new['overview'].str.split(' ').apply(len)
data_new.groupby(['prod_co']).len_1.mean().sort_values(ascending = False).head(1)

prod_co
Midnight Picture Show    175.0
Name: len_1, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [143]:
data_26 = data[['vote_average', 'original_title']].sort_values(by = 'vote_average', ascending = False)
data_26['original_title'][0:(int(len(data.index)*0.01))]

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [161]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

NameError: name 'answers' is not defined

In [160]:
# и убедиться что ни чего не пропустил)
len(answers)

NameError: name 'answers' is not defined